.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    visibility: visible;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}